body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

.main{
    color: white;
    font-weight: bold;
    position: absolute;
    top:20%;
    left:60%;
    font-size:60px;
}


img{
    width: 100%;
    height: 99.6vh
}


div {
    background-color: rgb(144, 150, 150);
    width: 400px; 
    border: 4px solid black;
    padding: 19px;
    margin: 25px 7px 0px 50px;
}